.notification-feed {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.notification-feed-item {
  padding: 15px;
  border-top: 1px solid #ccc; }

.form_table {
  width: 100%; }

.form_table td, .form_table th {
  font-size: 13px; }
