<!DOCTYPE web-app [
<!ENTITY frontend SYSTEM "frontend.xml">
]>

<web-app>
  <context-param>
    <param-name>cssNamespace</param-name>
    <param-value>test</param-value>
  </context-param>
  
  <context-param>
    <param-name>cssFiles</param-name>
    <param-value>test1,test2</param-value>
  </context-param>
  
  <context-param>
    <param-name>jsFiles</param-name>
    <param-value>test1.js,test3.js</param-value>
  </context-param>

  &frontend;
</web-app>
